[Unit]
Description=Remote Resource Monitor Service
Requires=network-online.target multi-user.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/wireguard-monitor
ExecStart=/usr/local/bin/wireguard-monitor.sh $MONITORED_RESOURCE $TIMEOUT_MINUTES

[Install]
WantedBy=default.target